html {
    height: 100%;
}

body {


    background-color: #F5F5F5;
    height: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 45px;
    color: #717171;
    line-height: 50px;
}

h2 {
    font-family: 'Inika', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
}

p {
    font-size: 20px;
    color: #636060;
}

span {
    color: #499A18;
    font-weight: 700;
    line-height: 30px;
}

li,
p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

.blur_item {
    filter: blur(10px);
}

.header {
    max-width: 1440px;
    /*height: 134px;*/
    height: auto;
    margin: 0 auto;
    padding: 0 15px;
    background-color: #EDF2EC;
    color: black;
}

.header__container {
    max-width: 1220px;
    /*height: 50px;*/
    height: auto;
    padding: 42px 109px 42px 111px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
    background-color: #EDF2EC;
}

.header-img {
    max-width: 20px;
    /*height: 20px;*/
    height: auto;
    margin-right: -2px;
}


.asfaf {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    max-width: 79px;
    height: auto;
    /*height: 21px;*/
    margin-top: 8px;
}

.plan {
    font-size: 16px;
    font-family: 'Inika', sans-serif;
    font-weight: 400;
    color: #000000;
}

.header-logo {
    font-size: 24px;
}

.header-logo span {
    color: #E06733;
}

.menu-list li {
    display: inline-flex;
    font-family: 'Inika', sans-serif;
    font-weight: 700;
    flex-direction: row;
}

.menu-link,
.menu-link-active {
    margin-left: 22px;
    font-size: 16px;
    color: black;
    text-decoration: none;
    font-family: 'Inika', sans-serif;
    font-weight: 400;
    white-space: nowrap;
}

.menu-link-active {
    color: #E06733;
}

.menu-link:hover {
    cursor: pointer;
    color: #E06733;
    text-decoration: underline;
    transition: all .3s ease-in-out;
}

.active-link {
    color: red;
    outline: none !important
}

li,
p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    list-style-type: none;
}

.welcome {
    max-width: 1440px;
    height: auto;
    background-color: #EDF2EC;
    margin: 0 auto;
    padding: 0 15px;
}

.header__container {
    max-width: 1220px;
    /*height: 50px;*/
    height: auto;
    padding: 42px 109px 42px 111px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
    background-color: #EDF2EC;
}

.section-welcome {
    max-width: 1220px;
    /*height: 532px;*/
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    /*padding: 62px 109px;*/
    background-color: #EDF2EC;
}

.leafs__wrapper {
    max-width: 448px;
    height: auto;
}

.leafs__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-welcome {
    max-width: 549px;
    height: auto;
    left: 0;
    margin: 18px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-welcome h1 {
    font-family: "Inter", sans-serif;
}

.container-welcome p {
    max-width: 525px;
    height: auto;
    color: #636060;
    align-content: stretch;
}

.colortext {
    color: #499A18;
}

.welcome-button {
    max-width: 158px;
    /*height: 44px;*/
    height: auto;
    border: 2px solid #E06733;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #000000;
}

.welcome-button:hover {
    background-color: #E06733;
}

.welcome-text {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 45px;
    color: #717171;
    line-height: 50px;
}

.about {
    max-width: 1440px;
    /*height: 666px;*/
    height: auto;
    background-color: #FFFFFF;
    margin: 0 auto;
    padding: 0 15px;
}

.container-about {
    max-width: 1222px;
    /*height: 479px;*/
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 93px 109px 94px 109px;
    background-color: #FFFFFF;
}

.about-text {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #499A18;
}

.about__content p {
    color: #636060;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

.section-about {
    max-width: 464px;
    /*height: 479px;*/
    height: auto;
    object-fit: contain;
}

.about__content {
    max-width: 605px;
    /*height: 350px;*/
    height: auto;
}

.about__color__text {
    color: #E06733
}

.service {
    max-width: 1440px;
    /*height: 1300px;*/
    height: auto;
    background-color: #EDF2EC;
    margin: 0 auto;
    padding: 15px;
}

.services__bar {
    max-width: 1007px;
    /*height: 94px;*/
    height: auto;
    padding: 40px 324px 0 109px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.services__bar h2 {
    max-width: 306px;
    /*height: 94px;*/
    height: auto;
    line-height: 52px;
    color: #499A18;
}

.services__nav__btn {
    max-width: 559px;
    /*height: 50px;*/
    height: auto;
    display: flex;
    justify-content: space-between;
}

.services__nav__btn button {
    max-width: 161px;
    /*height: 50px;*/
    height: auto;
    font-family: 'Inika', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #E06733;
    border: 1px solid #E06733;
    border-radius: 5px;
}

.services__nav__btn button:hover {
    background-color: #E06733;
    color: #D6E7D2;
}

.btn__project__1 {
    margin-right: 38px;
}

.btn__project__2 {
    margin-right: 38px;
}

.services__content {
    max-width: 1250px;
    /*height: 955px;*/
    height: auto;
    padding: 50px 116px 0 109px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 330px);
    gap: 55px 116px;
}

.service__item {
    width: 330px;
    /*height: 450px;*/
    height: auto;
    border-radius: 20px 20px 0 0;
}

.description {
    max-width: 327px;
    /*height: 100px;*/
    height: auto;
    margin: -3px 0 0 1px;
    border: 1px solid #E3E1D5;
    border-radius: 0 0 20px 20px;
    text-align: center;
}

.description h3 {
    font-family: 'Inter', sans-serif;
    margin-top: 10px;
    padding-bottom: 10px;
    color: #E06733;
}

.prices {
    max-width: 1440px;
    /*height: 560px;*/
    height: auto;
    background-color: #FFFFFF;
    margin: 0 auto;
    padding: 0 15px;
}

.prices__container {
    max-width: 1200px;
    /*height: 405px;*/
    height: auto;
    padding: 40px 109px 115px 109px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #FFFFFF;
}

.prices__bar {
    max-width: 332px;
    /*height: 391px;*/
    height: auto;
}

.prices__bar h2 {
    padding-bottom: 60px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
}

.prices__item {
    max-width: 332px;
    /*height: 281px;*/
    height: auto;
    border: 1px solid #E3E1D5;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pric {
    max-width: 250px;
    /*height: 22px;*/
    height: auto;
    font-family: "Inter",sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    padding: 16px 40px;
    background-color: #edf2ec;
    border-radius: 20px;
}

.content_item {
    font-family: "Inter",sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 10px;
    color: #717171;
}

.cost {
    font-family: "Inter",sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: #e06733;
}

.per_hour {
    color: black;
}

.for_order {
    width: 86px;
    /*height: 25px;*/
    height: auto;
    font-family: "Inter",sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #717171;
    background-color: #ffffff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.for_order a {
    color: #717171;
    text-decoration: none;
}


.for_order:hover {
    background-color: #E06733;
    color: #D6E7D2;
}

.content_itemm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding-left: 40px;
    padding-right: 41px;
}

details {
    display: block;
    background-color: #D6E7D2;
    border-radius: 20px;
}

.prices__list::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0 !important;
    text-align: start !important;
    text-align-last: start !important;
}

.prices__list {
    border: 1px solid #e3e1d5;
    border-radius: 20px;
    margin-bottom: 32px;
}

.btn__accordion__item {
    background-color: #D9D9D9;
    border-radius: 50%;
}

.price__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;

}

.prices__content {
    max-width: 452px;
    /*height: 191px;*/
    height: auto;
    text-align: end;
}

.prices__content h2 {
    font-family: 'Inter',sans-serif;
    font-weight: 700;
    line-height: 50px;
}

.btn__contact-us {
    max-width: 162px;
    /*height: 50px;*/
    height: auto;
    font-family: 'Inika',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #E06733;
    border: 1px solid #E06733;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.btn__contact-us:hover {
    background-color: #E06733;
    color: #D6E7D2;
}

.leafs {
    margin-top: 39px;
    max-width: 152px;
    /*height: 175px;*/
    height: auto;
}

.contact-us {
    max-width: 1440px;
    /*height: 550px;*/
    height: auto;
    background-color: #EDF2EC;
    margin: 0 auto;
    padding: 0 15px;
}

.contact__container {
    max-width: 1220px;
    /*height: 490px;*/
    height: auto;
    /*padding: 60px 109px 0 109px;*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
        align-items: flex-start;
}

::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0 !important;
    text-align: start !important;
    text-align-last: start !important;
}

.contact-us h2 {
    max-width: 195px;
    height: auto;
    font-family: 'Inika',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
}

.contacts__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.city__bar {
    max-width: 450px;
    display: flex;
    flex-direction: column;
}

.city_item {
    max-width: 450px;
    /*height: 50px;*/
    height: auto;
    justify-content: space-between;
    align-items: center;
    margin-top: 95px;
    padding-right: 35px;
    background-color: #D6E7D2;
    border-radius: 0;
    border: none;
    font-family: "Inter",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #717171;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}

.btn__accordion {
    margin-right: 35px;
}

.footer {
    max-width: 1440px;
    /*height: 130px;*/
    height: auto;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 0 15px;
}

.content {
    max-width: 1222px;
    /*height: 50px;*/
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 40px 109px;
    background-color: #FFFFFF;
    margin: 0 auto;
}

.content li {
    display: inline-flex;
    flex-direction: row;
}

.content a {
    color: #000000;
}

.footer-data li {
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    padding: 9px 10px;
}

.rsschool li {
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    padding: 9px 0;
}

.social-list li {
    padding: 9px 10px;
}

.menu-mobile,
.menu-btn {
    display: none;
}

@media (max-width: 1200px) {
}

.menu-linked {
    display: none;
}

.menu-mobile {
    display: flex;
    gap: 0 20px;
}

@media (max-width: 768px) {
    .header {
        /*height: 117px;*/
        height: auto;
        margin: 0;
        padding: 0;
    }

    .header__container {
        padding: 0 15px;
    }

    .asfaf {
        display: block;
    }

    .welcome {
        /*height: 420px;*/
        height: auto;
    }

    .section-welcome {
        flex-direction: row-reverse;
        justify-content: center;
        /*height: 310px;*/
        display: block;
        height: auto;
        padding: 0;
        margin: 0 auto;
    }

    .leafs__wrapper {
        width: 100%;
        margin: 0;
        max-width: unset;

    }

    .leafs__img {
        display: block;
        max-width: unset;
        margin: 0 auto;
    }

    .container-welcome {
        /*height: 310px;*/
        height: auto;
    }

    .container-welcome h1 {
        font-size: 35px;
        line-height: 50px;
        font-weight: 700;
    }

    .container-welcome p {
        font-size: 16px;
        line-height: 25px;
    }

    .welcome-button {
        max-width: 158px;
        /*height: 44px;*/
        height: auto;
        line-height: 20px;
    }

    .about {
        /*height: 783px;*/
        height: auto;
    }

    .about__content h2 {
        font-size: 35px;
        line-height: 45px;
        align-items: center;
    }

    .about__content p {
        font-size: 20px;
        line-height: 30px;
    }

    .houseplant-1 {
        max-width: 250px;
        /*height: 258px;*/
        height: auto;
        margin-top: 40px;
        margin-left: 124px;
    }

    .container-about {
        /*height: 700px;*/
        width: 100%;
        height: auto;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .service {
        /*height: 1780px;*/
        height: auto;
    }

    .services__title {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
    }

    .services__bar {
        font-size: 35px;
        line-height: 45px;
        flex-direction: column;
        align-items: center;
        padding: 0;
        display: flex;
    }

    .services__nav__btn{
        max-width: 559px;
        /*height: 50px;*/
        height: auto;
        display: flex;
        /*justify-content: revert;*/
        /*flex-direction: row;*/
        /*flex-wrap: wrap;*/
        justify-content: center;
        align-items: center;

    }

    .services__content {
        width: auto;
        height: auto;
        padding: 188px 0 23px 0;
        display: grid;
        grid-template-columns: repeat(2, 278px);
        gap: 38px 109px;
    }

    .price {
        /*height: 585px;*/
        height: auto;
    }

    .prices__bar h2 {
        padding-bottom: 0;
        font-size: 35px;
        line-height: 42px;
    }

    .prices__container {
        padding: 0;
        /*height: 358px;*/
        height: auto;
        /*display: flex;*/
    }

    .price__info {
        /*height: 358px;*/
        height: auto;
    }

    .prices__content {
        max-width: 296px;
        /*height: 358px;*/
        height: auto;
    }

    .prices__item {
        max-width: 332px;
        /*height: 282px;*/
        height: auto;
    }

    .prices__content h2 {
        font-size: 25px;
        line-height: 35px;
    }

    .leafs {
        max-width: 152px;
        /*height: 175px;*/
        height: auto;
    }

    .contact-us {
        /*height: 739px;*/
        height: auto;
    }

    .contact__container {
        padding: 0;
        align-items: center;
        justify-content: center;
        display: flex;


    }

    .contact__container img {
        max-width: 200px;
        /*height: 250px;*/
        height: auto;
        margin-left: 288px;
        margin-top: 488px;
    }

    .contact-us h2 {
        max-width: 192px;
        /*height: 50px;*/
        height: auto;
        margin-left: -456px;
    }

    .city_item {
        /*height: 50px;*/
        height: auto;
        margin-left: -584px;
        margin-top: 278px;
    }

    .footer {
        /*height: 181px;*/
        height: auto;
    }

    .content {
        /*height: 130px;*/
        height: auto;
        padding: 0;
        flex-direction: column;
        align-items: center;
    }

    .footer-data li {
        padding: 0 10px;
        margin-top: -7px;
    }

    .rsschool li {
        padding: 0;
        margin-top: -7px;
    }

    .social-list li {
        padding: 0 10px;
        margin-top: -20px;
    }
}

@media (max-width: 380px) {

    .menu-btn {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 40px;
        height: 24px;
        border: none transparent;
        cursor: pointer;
        z-index: 10;
        position: fixed;
        left: 312px;
        top: 26px;
        background: none;
    }

    .menu-btn span {
        width: 100%;
        height: 2px;
        background-color: #717171;
        z-index: 10;
    }

    .menu-link,
    .menu-link-active {
        color: #ffffff;
        display: block;
        padding: 10px 0;
        font-size: 4vh;
    }

    .asfaf {
        z-index: 10;
        position: fixed;
        left: 15px;
        top: 18px;
    }

    .menu-mobile {
        display: none;
    }

    .menu-mobile.menu--open {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: -62px;
        right: 0;
        bottom: 0;
        background-color: rgba(171, 168, 168, 0.5);
        height: 27vh;
        z-index: 5;
        text-align: center;
        padding-top: 50px;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }

    .menu-list {
        color: #fff;
    }

    .leafsleafs {
        display: none;
    }

    .header {
        /*height: 96px;*/
        height: auto;
        padding: 0 15px;
    }

    .header__container {
        padding: 0;
        align-items: self-end;
    }

    .welcom {
        padding: 0;
    }

    .welcome-button {
        max-width: 100px;
        /*height: 34px;*/
        height: auto;
        font-size: 10px;
        line-height: 20px;
    }

    .welcom-text {
        font-size: 25px;
        line-height: 35px;
    }

    p {
        font-size: 16px;
        line-height: 25px;
    }

    .container-welcome {
        flex-direction: column;
        padding: 0;
    }

    .container-welcome h1 {
        font-size: 25px;
        line-height: 32px;
    }

    .container-about {
        flex-direction: column;
        padding: 0;
        /*height: 455px;*/
        height: auto;
    }

    .about {
        /*height: 541px;*/
        height: auto;
    }

    .about__content h2 {
        font-size: 25px;
        line-height: 32px;
    }

    .about__content p {
        font-size: 15px;
        line-height: 25px;
    }

    .section-welcome {
        padding: 0 15px;
    }

    .welcome {
        padding: 0 15px;
        /*height: 380px;*/
        height: auto;
    }

    .houseplant-1 {
        max-width: 150px;
        /*height: 147px;*/
        height: auto;
        margin: 42px 96px;
    }

    .service {
        height: auto;
    }

    .services__bar {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .services__content {
        width: auto;
        height: auto;
        padding: 92px 0 0 0;
        grid-template-columns: repeat(1, 0px);
        gap: 34px 0;
        margin-top: 0;
    }

    .services__bar h2 {
        max-width: 187px;
        /*height: 69px;*/
        height: auto;
        font-size: 25px;
        line-height: 33px;
        text-align: center;
        justify-content: center;

    }

    .services__nav__btn {
        max-width: 252px;
        /*height: 79px;*/
        height: auto;
        display: flex;
        /*justify-content: revert;*/
        /*flex-direction: row;*/
        /*flex-wrap: wrap;*/
        justify-content: center;
        align-items: center;

    }

    .services__nav__btn button {
        max-width: 121px;
        /*height: 35px;*/
        height: auto;
        font-size: 15px;
        /*line-height: 20px;*/
        line-height: 4px;
        padding: 16px;
        /*margin: -5px 11px 0 -6px;*/
    }

    .prices {
        height: auto;
        /*height: 512px;*/
    }

    .leafs {
        display: none;
    }

    .prices__container {
        max-width: 380px;
        height: auto;
        padding: 0;
        display: contents;
        text-align: center;
    }

    .prices__item {
        max-width: 224px;
        /*height: 235px;*/
        height: auto;
        margin-left: 50px;
    }

    .pric {
        font-size: 15px;
        width: 143px;
    }

    .prices__bar h2 {
        font-size: 25px;
        line-height: 30px;
    }

    .prices__content {
        max-width: 230px;
        /*height: 126px;*/
        height: auto;
        text-align: center;
    }

    .prices__content h2 {
        font-size: 20px;
        line-height: 35px;
    }

    .btn__contact-us {
        max-width: 121px;
        /*height: 35px;*/
        height: auto;
        font-size: 15px;
        line-height: 20px;
    }

    .price__info {
        flex-wrap: wrap;
        align-content: center;
        margin-top: -35px;
    }

    .contact-us {
        /*height: 445px;*/
        height: auto;
    }

    .contact__container {
        padding: 0;
        /*height: 400px;*/
        height: auto;
    }

    .contact__container img {
        max-width: 100px;
        /*height: 124px;*/
        height: auto;
        margin-left: 123px;
        margin-top: 320px;
    }

    .contact__container h2 {
        max-width: 192px;
        /*height: 34px;*/
        height: auto;
        font-size: 25px;
        line-height: 32px;
        margin-left: -107px;
    }

    /*.city_item {*/
    /*    max-width: 255px;*/
    /*    !*height: 50px;*!*/
    /*    height: auto;*/
    /*    margin-left: -303px;*/
    /*    margin-top: 172px;*/
    /*}*/

    .city_item {
        max-width: 100%;
        /*height: auto;*/
        /*    display: flex;*/
        /*justify-content: space-between;*/
        /*align-items: center;*/
        margin-top: 95px;
        padding-right: 35px;
        background-color: #D6E7D2;
        border-radius: 0;
        border: none;
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 40px;
        letter-spacing: 0.05em;
        color: #717171;
        box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    }

    .footer {
        /*height: 146px;*/
        height: auto;
    }

    .content {
        padding: 0;
        height: 117px;
        flex-direction: column;
    }

    .content li {
        font-size: 20px;
        line-height: 24px;
    }

    .footer-data li {
        padding: 0 10px;
        margin-top: -7px;
    }

    .rsschool li {
        padding: 0;
        margin-top: -7px;
    }

    .social-list li {
        padding: 0 10px;
        margin-top: -20px;
    }

}
